<div class="toolbar">
  <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between">
    <div style="width: 40px; text-align: center;">
      <!-- https://github.com/angular/components/issues/11403#issuecomment-390335586 -->
      <button mat-icon-button (click)="onToggleSidenav()" onclick="this.blur()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
      {{ title }}
    </div>
    <div style="width: 40px;"></div>
  </div>
</div>
