<mat-drawer-container class="example-container">
  <mat-drawer mode="over" [(opened)]="opened"
    ><app-drawer-menu></app-drawer-menu
  ></mat-drawer>
  <mat-drawer-content>
    <div class="toolbar">
      <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between">
        <div style="width: 40px; text-align: center;">
          <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <span>Angular Sample</span>
        <div style="width: 40px;"></div>
      </div>
    </div>

    <div class="content" role="main">
      <router-outlet></router-outlet>
    </div>

    <footer></footer>
  </mat-drawer-content>
</mat-drawer-container>
